name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.3.1

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: bun run res:build

      # - name: Install dependencies
      #   working-directory: ./demo
      #   run: npm ci

      # Build Playground is disabled in CI while it's broken.
      # - name: Build Playground
      #   working-directory: ./demo
      #   run: bun run build

      - name: Run tests
        run: bun run test
